
      <%# <div class="modal-body"> %>

        <%= simple_form_for [@book, @bookreview] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, :collection => [1, 2, 3, 4, 5] %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>

                <% if @book.book_reviews.blank? %>
                    Be the first to leave a review for <%= @book.title %>
                <% else %>
                  <div class="book-copy-card">
                      <% @book.book_reviews.each do |review| %>
                          <div class="book-copies">
                            <div class="img-comments">
                                <% if review.user.photo.attached?%>
                                        <%= cl_image_tag review.user.photo.key, class:"avatar-bordered-small" %>
                                <% else %>
                                  <div class='avatar-bordered-small d-flex justify-content-center align-items-center' style= "padding-right: 9px; background-color: #75c9b7;" >
                                  <p style="font-size: 1rem"><%= render "shared/default_profile_image", user: review.user %></p>
                                </div>
                            <% end %>

                              <ul>
                                <li><em>"<%=review.content %>"</em></li>
                                <li><%=review.user.display_name || review.user.first_name %></li>
                                <li><%=review.created_at.strftime("%a, %d %b %y") %></li>
                              </ul>
                            </div>
                            <%  rating = review.rating%>
                            <% rating.times do |i| %>
                              <i class="fa-solid fa-book-open" style="color: #fa8334; font-size: 10px;"></i>
                            <% end %>
                            <% (5-rating).times do |i| %>
                              <i class="fa-solid fa-book-open" style="color: #b2b1b1; font-size: 10px;"></i>
                            <% end %>
                            <% end %>

                          </div>
                        <% end %>
                  </div>
