<div class="container" style="padding-top: 50px;" data-insert-in-list-target="items">
        <%= simple_form_for([@book, @bookreview], data: {insert_in_list_target: "form",
        action: "submit->insert-in-list#send"}) do |f| %>
         <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :content,
              autofocus: true,
              input_html: { autocomplete: "content" }%>
          <%= f.input :rating, :collection => [["1 - Very poor",1], ["2 - Poor", 2], ["3 - Satisfactory", 3], ["4 - Good", 4], ["5 - Very good ", 5]]%>
        </div>
          <div class="form-actions">
            <%= f.button :submit, "Leave a review", class: "btn-primary" %>
          </div>
        <% end %>
      <div>
        <% if @book.book_reviews.blank? %>
              Be the first to leave a review for <%= @book.title %>
        <% else %>
         <div class="book-copy-card" style="padding-top: 10px;" data-insert-in-list-target="items">
            <% @book.book_reviews.each do |review| %>
            <div class="book-reviews" style="padding-top: 10px;">
                <% if review.user.photo.attached?%>
                  <%= cl_image_tag review.user.photo.key, class:"avatar-bordered-small" %>
                <% else %>
                  <div class='avatar-bordered-small d-flex justify-content-center align-items-center' style= "padding-right: 9px; background-color: #75c9b7;" >
                    <p style="font-size: 1rem"><%= render "shared/default_profile_image", user: review.user %></p>
                  </div>
                <%end%>

                        <p class= "m-0"><%=review.user.display_name || review.user.first_name %></p>
                          <p class="m-0 pb-1" style="font-size: 9px;"><%=review.created_at.strftime("%a, %d %b %y") %></p>
                            <% rating = review.rating%>
                                <% rating.times do |i| %>
                                  <i class="fa-solid fa-star" style="color: #fa8334; font-size: 10px;"></i>
                                    <% end %>
                                <% (5-rating).times do |i| %>
                                  <i class="fa-regular fa-star" style="color: #b2b1b1; font-size: 10px;"></i>
                                <% end %>
                          <p class="m-0" style="font-size: 12px;"><%=review.content %></p>
</div>
                        <% end %>

                <% end %>
        </div>

        </div>

</div>
