
<%= simple_form_for [@book, @bookreview] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, :collection => [1, 2, 3, 4, 5] %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<div class="book-copy-card">
  <% if @book.book_reviews.blank? %>

          Be the first to leave a review for <%= @book.title %>
            <% else %>
          <% @book.book_reviews.each do |review| %>
          <div class="book-copies">

            <p><%= review.content %></p>
             <p><%= review.rating %></p>
              <p><%= review.user.display_name %></p>
          <% end %>
        </div>
  <% end %>
</div>
