
<%= simple_form_for [@book, @book_review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, :collection => [1, 2, 3, 4, 5] %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<div>
  <% if @book.book_reviews.blank? %>
    Be the first to leave a review for <%= @book.title %>
  <% else %>
    <% @book.book_reviews.each do |review| %>
      <p><%= bookreview.content %></p>
    <% end %>
  <% end %>
</div>
