 <% if current_user.id == order.book_copy.user.id %>
        <% order.book_copy.orders.each do |order| %>
          <% if order.status == "ACCEPTED" %>
            <%= link_to user_profile_path(order.user.id) do %>
              <% if order.user.photo.attached?%>
                <%= cl_image_tag order.user.photo.key, class:"avatar-bordered-medium me-2 mt-4"%>
              <% else %>
                <div class='avatar-bordered-medium d-flex justify-content-center align-items-center me-2' style= "padding-right: 9px; background-color: #75c9b7; text-align: center;" >
                  <p style="font-size: 2rem text-align: center; text-decoration: none;"><%= render "shared/default_profile_image", user: order.user %></p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

      <% else %>

        <%= link_to user_profile_path(order.book_copy.user.id) do %>
            <% if order.book_copy.user.photo.attached?%>
              <%= cl_image_tag order.book_copy.user.photo.key, class:"avatar-bordered-medium me-2 mt-4"%>
            <% else %>
              <div class='avatar-bordered-medium d-flex justify-content-center align-items-center me-2' style= "padding-right: 9px; background-color: #75c9b7; text-align: center;" >
                <p style="font-size: 2rem text-align: center; text-decoration: none;"><%= render "shared/default_profile_image", user: order.book_copy.user %></p>
              </div>
            <% end %>
          <% end %>

        <% end %>

        <%= link_to chatroom_path(order.book_copy) do %>
          <div class="d-flex flex-column justify-content-center">
            <% if current_user.id == order.book_copy.user.id %>


                <p class="normal-link pb-0 m-0"><%= order.user.display_name || order.user.first_name if order.status == "ACCEPTED"%></p>
                <p class="m-0"><%= order.book_copy.book.title %></p>


            <% else %>
              <p class="normal-link pb-0 m-0"><%= order.book_copy.user.display_name || order.book_copy.user.first_name %></p>
              <p class="m-0"><%= order.book_copy.book.title %></p>
            <% end %>


          </div>
        <% end %>

<hr style="border-top: 1px solid #383232" class="mt-2 mb-2">
