<div class="dashboard-container-chat">
  <h2 class="chat-index-header" style="margin: 2.5rem"></h2>
  <div class="dashboard-header m-2">
    <div class="userProfile-image-center" style="margin: 2rem">
    <% if @user.photo.attached?%>
      <%= cl_image_tag @user.photo.key, class:"avatar-bordered" %>
    <% else %>
      <%= render "shared/default_profile_image" %>
    <%end%>
  </div>
    <div class= "user-info">
      <h1><%= @user.display_name %></h1>
        <p><%= @user.email %></p>
    </div>
    <br>
    <br>
    <% @chatroom.each do |chatroom| %>
      <%= link_to "General Chat", chatroom_path(chatroom) %>
    <% end %>
    <%if @user.photo.attached? %>
      <%= cl_image_tag(@user.photo.key, class: '') %>
    <% else %>
      <%= image_tag("", class: '' ) %>
    <% end %>
  </div>

</div>
