<div class="dashboard-my-book-card-container">
  <div class= "dashboard-my-book-card">
    <%= link_to book_path(book_copy.book_id) do %>
      <%= image_tag book_copy.book.photo_url %>
    <% end %>
  <div class= "dashboard-order-card-description">
      <div>
        <%= link_to book_path(book_copy.book_id) do %>
          <p class="mb-2 dashboard-order-card-title" style = "font-size: 1rem;"><strong><%= book_copy.book.title %></strong></p>
        <% end %>
      </div>
      <p><i class="fa-solid fa-euro-sign"></i>  <%= book_copy.price %> for <%= book_copy.availability_status %></p>
      <% if book_copy.orders.length == 0  %>
        <br>
        <p>You don't have any orders for this book yet.</p>
      <% end %>
  </div>



  </div>

  <% if book_copy.orders.length > 0 %>
    <div class="container pb-1 mb-0">
      <% book_copy.orders.each do |order| %>
      <hr>
      <div class= "d-flex justify-content-between align-items-center">
      <p><i class="fa-regular fa-user"></i>  <strong><%= order.user.display_name || order.user.first_name %></strong></p>


      </div>
      <p><i class="fa-regular fa-calendar-xmark"></i>  <%= order.start_date %> to <%= order.end_date %></p>
        <% if order.status == "CREATED" %>
            <p class="dashboard-order-status"><strong>Requested</strong></p>
            <%= link_to "Accept ✅", accept_order_path(order), data: {turbo_method: :patch}  %>
            <%= link_to "Reject ✅", reject_order_path(order), data: {turbo_method: :patch} %>

         <% elsif order.status == "ACCEPTED"%>
         <p class="dashboard-order-status" style="background-color:lightgreen"><strong>Accepted 😎</strong></p>
         <%= link_to "Reject ✋", reject_order_path(order), data: {turbo_method: :patch} %>
         <% elsif order.status == "REJECTED"%>
         <p class="dashboard-order-status" style="background-color:red"><strong>Rejected 😢</strong></p>
            <%= link_to "Re-Accept ✅", accept_order_path(order), data: {turbo_method: :patch}  %>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
