<div class="nav sticky-md-bottom bg-success bg-opacity-75 nav-bottom">
  <div class="container-fluid d-flex nav-bottom-item-container">
    <%= link_to root_path, class: "nav-bottom-item" do %>
      <div class="nav-bottom-item">
        <i class="fa fa-home nav-icon"></i>
        <p class="nav-bottom-text">Home</p>
      </div>
    <% end %>
    <%= link_to root_path, class: "nav-bottom-item" do %>
      <div class="nav-bottom-item">
        <i class="fa fa-search nav-icon"></i>
        <p class="nav-bottom-text">Explore</p>
      </div>
    <% end %>
    <%= link_to dashboard_path(current_user), class: "nav-bottom-item" do %>
      <div class="nav-bottom-item">
        <i class="fa-solid fa-book-open nav-icon"></i>
        <p class="nav-bottom-text">Books</p>
      </div>
    <% end %>
    <%= link_to chatrooms_path, class: "nav-bottom-item" do %>
      <div class="nav-bottom-item">
        <i class="fa fa-envelope nav-icon"></i>
        <p class="nav-bottom-text">Inbox</p>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="dropup">
        <div class="dropbtn nav-bottom-item">
          <i class="fa fa-user nav-icon"></i>
          <p class="nav-bottom-text">Profile</p>
        </div>
        <div class="dropup-content">
          <%= link_to "Profile", user_profile_path(current_user.id)%>
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_session_path, class: "nav-bottom-item" do %>
        <i class="fa fa-user nav-icon"></i>
        <p class="nav-bottom-text">Login</p>
      <% end %>
    <% end %>
</div>
</div>
