<div class="nav-bottom">
  <div class="container-fluid d-flex nav-bottom-item-container">
    <%= link_to root_path, class: "nav-bottom-item" do %>
      <div class="nav-bottom-item">
        <i class="fa fa-home nav-icon"></i>
        <p class="nav-bottom-text">Home</p>
      </div>
    <% end %>
    <%= link_to root_path, class: "nav-bottom-item" do %>
      <div class="nav-bottom-item">
        <i class="fa fa-search nav-icon"></i>
        <p class="nav-bottom-text">Explore</p>
      </div>
    <% end %>
    <% if current_user !=nil %>
    <%= link_to dashboard_path(current_user), class: "nav-bottom-item" do %>
      <div class="nav-bottom-item">
        <i class="fa-solid fa-book-open nav-icon"></i>
        <p class="nav-bottom-text">Books</p>
      </div>
    <% end %>
    <% end %>
    <%= link_to chatrooms_path, class: "nav-bottom-item" do %>
      <div class="nav-bottom-item">
        <i class="fa fa-envelope nav-icon"></i>
        <p class="nav-bottom-text">Inbox</p>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="btn-group dropup">
        <button class="nav-bottom-item justify-content-center" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: none; border: none;"  >
          <p class="nav-icon p-0 m-0"><i class="fa fa-user nav-icon p-0 m-0"></i></p>
          <p class="nav-bottom-text m-0 p-0">Profile</p>
        </button>
        <div class="dropdown-menu dropdown-menu-begin" >
          <%= link_to "Profile", user_profile_path(current_user.id), class: "dropdown-item"%>
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_session_path, class: "nav-bottom-item" do %>
        <i class="fa fa-user nav-icon"></i>
        <p class="nav-bottom-text">Login</p>
      <% end %>
    <% end %>
</div>
</div>
