<div class="navbar">

  <div class="search">
    <%= form_with url: root_path, method: :get, html: { data: { search_books_target: "form"}} do |f| %>

      <%= f.text_field :query,
                    value: params[:query],
                    class: "search-bar",
                    placeholder: "Find a book",
                    data: {
                      search_books_target: "input",
                      action: "keyup->search-books#update" }
                    %>


  </div>



    <div class="book-category-container">
        <%=link_to "All books", root_path, class: "filter-button"  %>
        <%=link_to "Classic", root_path(:category => "classic"), class: "filter-button" %>
        <%=link_to "Travel", root_path(:category => "travel"), class: "filter-button"  %>
        <%=link_to "Poetry", root_path(:category => "poetry"), class: "filter-button"  %>
        <%=link_to "Sci-fi", root_path(:category => "sci-fi"), class: "filter-button"  %>
        <%=link_to "Horror", root_path(:category => "horror"), class: "filter-button"  %>
        <%=link_to "Short Stories", root_path(:category => "short stories"), class: "filter-button"  %>


        <button><%=link_to "Classic", root_path(:category => "classic"), class: "filter-button" %>
        <%= image_tag("horror.png") %>




        </button>
      <% end %>
    </div>


</div>
