<div class="navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("/assets/logo-crop.png", class: "navbar-brand", alt: "Book-Buddy logo") %>
  <% end %>

  <div class="search">
    <%= form_with url: root_path, method: :get, html: { data: { search_books_target: "form"}} do |f| %>

      <%= f.text_field :query,
                    value: params[:query],
                    class: "search-bar",
                    placeholder: "Find a book",
                    data: {
                      search_books_target: "input",
                      action: "keyup->search-books#update" }
                    %>


  </div>

  <div class="book-category-container">

  <%= categories = Book.all.map{|t| t.category}.uniq %>
  <button class= "filter-button" >
  </button>

        <%# <%=link_to "classic", root_path(:category => "classic"), class: "filter-button" %>
  <%# <%=link_to "fiction", root_path(:category => "fiction"), class: "filter-button"  %> %>
  <%# <%=link_to "poetry", root_path(:category => "poetry"), class: "filter-button"  %> %>
  <%# <%=link_to "sci-fi", root_path(:category => "sci-fi"), class: "filter-button"  %> %>
  <%# <%=link_to "comics", root_path(:category => "comics"), class: "filter-button"  %> %> %>

    <% end %>
  </div>


</div>
