<div class="navbar" data-controller="buttons">
 <%# <%= image_tag "bluelogo.png" %>

        <div class="search">
        <%# <i class="fa fa-search nav-icon"></i> %>


  <%= form_with url: root_path, method: :get, html: { data: { search_books_target: "form"}} do |f| %>

    <%= f.text_field :query,
                  value: params[:query],
                  class: "search-bar",
                  style: "",
                  placeholder: "Find your next book ....",
                  data: {
                    search_books_target: "input",
                    action: "keyup->search-books#update" }
                  %>
</div>


  <div class="book-category-container">
    <div class="filter-button" style="color:#E83E6F">
      <ion-icon name="library" data-buttons-target="allIcon"></ion-icon>
      <%=link_to "All books", root_path %>
    </div>

    <div class="filter-button" data-buttons-target="outerlayer">
      <ion-icon name="skull" data-buttons-target="horrorIcon"></ion-icon>
      <%=link_to "Horror", root_path(:category => "horror"), data: {buttons_target: "horrorbtn"} %>
    </div>

    <div class="filter-button">
      <ion-icon name="planet" data-buttons-target="scifiIcon"></ion-icon>
      <%=link_to "Sci-fi", root_path(:category => "sci-fi"), data: {buttons_target: "scibtn"}%>
    </div>

    <div class="filter-button">
      <ion-icon name="receipt" data-buttons-target="poetryIcon"></ion-icon>
      <%=link_to "Poetry", root_path(:category => "poetry"), data: {buttons_target: "poetrybtn"}%>
    </div>

    <div class="filter-button">
      <ion-icon name="bonfire" data-buttons-target="fictionIcon"></ion-icon>
      <%=link_to "Fiction", root_path(:category => "fiction")%>
    </div>

    <div class="filter-button">
      <ion-icon name="earth" data-buttons-target="travelIcon"></ion-icon>
      <%=link_to "Travel", root_path(:category => "travel")%>
    </div>

    <div class="filter-button">
      <ion-icon name="bulb" data-buttons-target="educationIcon"></ion-icon>
      <%=link_to "Education", root_path(:category => "education")%>
    </div>

    <div class="filter-button">
      <ion-icon name="heart" data-buttons-target="romanceIcon"></ion-icon>
      <%=link_to "Romance", root_path(:category => "romance")%>
    </div>

    <div class="filter-button">
      <ion-icon name="ice-cream" data-buttons-target="comedyIcon"></ion-icon>
      <%=link_to "Comedy", root_path(:category => "comedy")%>
    </div>

    <div class="filter-button">
      <ion-icon name="magnet" data-buttons-target="crimeIcon"></ion-icon>
      <%=link_to "Crime", root_path(:category => "crime")%>
    </div>

  <% end %>
  </div>

</div>
