<div class= "dashboard-order-card shadow">

  <%= link_to book_path(order.book_copy.book_id) do %>
    <%= image_tag order.book_copy.book.photo_url, class: "dashboard-book-img" %>
  <% end %>

  <div class= "dashboard-order-card-description pb-3">
    <%= link_to book_path(order.book_copy.book_id) do %>
      <p class="mb-2 dashboard-order-card-title" style = "font-size: 1.25rem;"><strong><%= order.book_copy.book.title %></strong></p>
    <% end %>
    <p style = "font-size: 0.85rem;"><i class="fa-regular fa-calendar-xmark"></i>  <%= order.start_date %> to <%= order.end_date %></p>

    <div class="d-flex align-items-center justify-content-between mt-2">

      <div class="d-flex justify-content-between mb-3">
        <%= link_to user_profile_path(order.book_copy.user_id) do %>

          <div class="d-flex align-items-center">

            <div class="pe-2">
              <% if order.book_copy.user.photo.attached?%>
                <%= cl_image_tag order.book_copy.user.photo.key, class:"avatar-bordered-medium" %>
              <% else %>
                <div class='avatar-bordered-medium justify-content-center align-items-center' style= " background-color: #75c9b7; " >
                  <p style="font-size: 1.5rem; text-align: center;" ><%= render "shared/default_profile_image", user: order.book_copy.user %></p>
                </div>
              <% end %>
            </div>

            <div class="justify-content-center d-flex flex-column">
              <p style = "font-size: 1rem;" class="normal-link pb-0"> <%= order.book_copy.user.display_name || order.book_copy.user.first_name%></p>
              <p> <%= order.book_copy.user.city  %>, <%= order.book_copy.user.country  %></p>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="d-flex justify-content-start flex-column">
      <% if order.status == "CREATED"%>
        <p class="dashboard-order-status"><strong><i class="fa-solid fa-book-open"></i> Requested</strong></p>
      <% elsif  order.status == "ACCEPTED"%>

        <p class="dashboard-order-status" style="background-color: lightgreen"><strong><i class="fa-solid fa-book-open"></i> Accepted</strong></p>

        <div class="d-flex justify-content-between mt-3">

          <%= link_to new_book_copy_order_order_review_path(order.book_copy.id, order.id), class:"btn btn-info ps-1 pe-1 pt-0 pb-0" do %>
            <p class="btn btn-info p-0 ps-1 pe-1" style= "font-weight: bold;"><i class="fa-regular fa-pen-to-square"></i> Review </p>
          <% end %>

          <%= link_to  chatroom_path(order.book_copy),class:"btn btn-info ps-1 pe-1 pt-0 pb-0" do   %>
            <p  class="btn btn-info p-0 ps-1 pe-1" style= "font-weight: bold;">
              <i class="fa-regular fa-message"></i> Chat
            </p>
          <% end %>
    </div>
  <% elsif  order.status == "REJECTED"%>
    <p class="dashboard-order-status" ><strong><i class="fa-solid fa-book"></i> Rejected </strong></p>
  <% end %>


</div>


    </div>

  </div>
</div>
