<div class="container mt-4">
  <div class= "d-flex justify-content-between align-items-center">
    <h4 class="text-center" style="font-weight: bold">Your Bookings</h4>
    <div>
      <% if @orders.length > 0 %>
        <%= link_to "Search for a book", root_path, class: "btn btn-primary text-center" %>
      <% end %>
    </div>
  </div>

    <% if @orders.length > 0 %>
      <div class="dashboard-order-container">
        <% @orders.each do |order|  %>
          <%= render 'shared/order_card', order: order %>
        <% end %>
      </div>
    <% else %>
      <h6>No books ordered...... yet!.</h6>
      <h6>Time to find your first book. Let the journey begin with Book Buddies...</h6>
      <%= link_to "Start searching", root_path, class: "btn btn-primary"%>
    <% end %>
    <hr>
    <div class= "d-flex justify-content-between align-items-center">
      <h4 class="text-center" style=" font-weight: bold;">My Books</h4>
      <div>
          <%= link_to "Add new Book", books_path, class: "btn btn-primary"%>
      </div>
    </div>
    <% if @book_copies.length > 0 %>
      <div class="dashboard-order-container">
      <% @book_copies.each do |book_copy|  %>
        <%= render 'shared/my_book_card', book_copy: book_copy %>
      <% end %>
      </div>
      <% else %>
      <h6>No books added...... yet!.</h6>
      <h6>Share your first book from here.</h6>
      <%= link_to "Add your Book", books_path, class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
