
<h1>Pages#home</h1>
<div class="book-category-container">
  <div class="book-category-label">Horror</div>
  <div class="book-category-label">Horror</div>
  <div class="book-category-label">Horror</div>
  <div class="book-category-label">Crime</div>
</div>

 <div class="container">
    <% @books.each do |book| %>
      <div class="book-container">
       <%= image_tag book.photo_url, crop: "fill" %>
        <h4><%= book.title %></h4>
        <p><%= book.author %></p>
        <p>Isbn:<%= book.isbn %></p>
        <p>Category:<%= book.category %></p>

      </div>
       <% end %>
</div>
