<div data-controller="search-books">
  <%= render "shared/navbar" %>
<%= render "books/list", books: @books %>
<div class="div"><%= render "books/horror", books: @books %></div>
<div class="div"><%= render "books/horror", books: @books %></div>
<div class="div"><%= render "books/horror", books: @books %></div>
<div class="div"><%= render "books/horror", books: @books %></div>
</div>
