<div class="container">
  <div class="userProfile-image-center">
    <% if @user.photo.attached?%>
      <%= cl_image_tag current_user.photo.key, class:"avatar-bordered" %>
    <% else %>
      <%= image_tag("logo-s.png", class: 'avatar-bordered' )%>
    <%end%>
  </div>
  <br>
  <div class="ms-3">
    <p class="userProfile-field-name">Name</p>
    <p><%= current_user.first_name %> <%= current_user.last_name %></p>
    <p class="userProfile-field-name">Display Name</p>
    <p><%= @current_user.display_name %></p>
    <p class="userProfile-field-name">Email</p>
    <p><%= current_user.email%></p>
    <p class="userProfile-field-name">Street</p>
    <p><%= current_user.street%></p>
    <p class="userProfile-field-name">City</p>
    <p><%= current_user.city%></p>
    <p class="userProfile-field-name">Country</p>
    <p><%= current_user.country%></p>
  </div>
   <div class="userProfile-paragraph">
    <div class="create-new-book">
      <h2>Ready to create a new Book?</h2>
      <%= link_to "Add a Book", root_path, class: "btn-btn-succes" %>
    </div>
  </div>

  <div class="parent">
    <div class="child">
      <h2>All books 28</h2>
      <%# show the first 4 books %>
    </div>
  </div>

  <div class="parent">
    <div class="child">
      <h2>All reviews 87</h2>
      <%# add card with last review %>
        <div class="review-card-container">
            <span class="review-card">
              <p></p>
              <p>Rating</p>
              <p>image</p>
            </span>
        </div>
    </div>
  </div>



</div>
