 <h3 style="font-weight: bold;" class="mt-4 mb-2 text-center pt-2"><%= user.display_name || user.first_name %></h3>
<div class="userProfile-image-center">

    <% if user.photo.attached?%>
      <%= cl_image_tag user.photo.key, class:"avatar-bordered" %>
    <% else %>
      <div class='avatar-bordered d-flex justify-content-center align-items-center' style= "background-color: #75c9b7;" >
        <p style="font-size: 4rem"><%= render "shared/default_profile_image", user: user %></p>
      </div>
    <%end%>
</div>
<div class="text-center">
<%= render "shared/rating", avgrating: OrderReview.where(user_id:  user.id).average(:rating) || 0 %>
</div>
<br>
<div class="ms-3">
  <% if user == current_user %>
    <p class="userProfile-field-name">Name</p>
    <p><%= user.first_name %> <%= user.last_name %></p>
    <p class="userProfile-field-name">Display Name</p>
    <p><%= user.display_name || user.first_name %></p>
  <% end %>
  <% if user == current_user %>
    <p class="userProfile-field-name">Email</p>
    <p><%= user.email%></p>
  <% end %>
  <p class="userProfile-field-name">Street</p>
  <p><%= user.street%></p>
  <p class="userProfile-field-name">City</p>
  <p><%= user.city%></p>
  <p class="userProfile-field-name">Country</p>
  <p><%= user.country%></p>
</div>
