<div class="book-copy-card">
  <% @book.book_copies.each do |book_copy| %>
      <div class="book-copies container mb-0">
        <div class="img-comments pb-2">
          <% if book_copy.user.photo.attached?%>
            <%= cl_image_tag book_copy.user.photo.key, class:"avatar-bordered-medium" %>
          <% else %>
            <div class='avatar-bordered-medium d-flex justify-content-center align-items-center' style= "padding-right: 9px; background-color: #75c9b7;" >
              <p style="font-size: 1.5rem"><%= render "shared/default_profile_image", user: book_copy.user %></p>
            </div>
          <% end %>
          <ul class="flex-grow-1">
            <li><em>"<%= book_copy.comments.capitalize %>"</em></li>
            <li class="display-name"><strong>- <%= book_copy.user.display_name %>-</strong></li>
          </ul>


              <p class="book-category-tag"><%= book_copy.availability_status %></p>

        </div>







          <div class="requests">


            <% if book_copy.user.id != current_user.id %>
<div class=" justify-content-between">
              <%= link_to  chatroom_path(book_copy),class:"btn btn-success me-3" do   %>
                <div style="font-size: 12px;">
                  <i class="fa-solid fa-message"></i> Chat
                </div>
              <% end %>

              <%= link_to  new_book_copy_order_path(book_copy),class:"btn btn-success" do   %>
                <div style="font-size: 12px;">
                  <i class="fa-solid fa-cart-shopping"></i> Request
                </div>
              <% end %>
  </div>
            <% end %>

             <div style="font-family:bold;">
             <i class="fa-solid fa-euro-sign"></i>
             <span style="font-family:bold;"><%= book_copy.price %> <%= "/ day" unless book_copy.availability_status == "Sell"  %></span></div>
            </div>

      </div>
    <% end %>
</div>
