<div class="book-copy-card">
  <% @book.book_copies.each do |book_copy| %>
    <div class="book-copies container mb-0">

      <div class="img-comments pb-2 ">
        <%= link_to user_profile_path(book_copy.user.id) do %>
          <% if book_copy.user.photo.attached?%>
            <%= cl_image_tag book_copy.user.photo.key, class:"avatar-bordered-medium me-2 mt-4"%>
          <% else %>
            <div class='avatar-bordered-medium d-flex justify-content-center align-items-center me-2' style= "padding-right: 9px; background-color: #75c9b7; text-align: center;" >
              <p style="font-size: 2rem text-align: center; text-decoration: none;"><%= render "shared/default_profile_image", user: book_copy.user %></p>
            </div>
          <% end %>
        <% end %>

      <div style="width:100%;">
        <div class="d-flex justify-content-between m-0" >
          <%= link_to user_profile_path(book_copy.user.id) do %>
            <p class="normal-link my-0 ms-0"><%= book_copy.user.display_name %>, <%= book_copy.user.city %> <%= book_copy.user.country %></p>
             <%= render "shared/rating", avgrating: OrderReview.where(user_id:  book_copy.user_id).average(:rating) || 0 %>
          <% end %>

          <p class="book-category-tag m-0 ms-1" style="font-weight:bold;"><%= book_copy.availability_status %></p>
      </div>

      <% if book_copy.comments != nil %>
      <p class="my-0 mt-2 ms-0"><em>"<%= book_copy.comments.capitalize %>"</em></p>

      <% end %>

      <div class="d-flex   align-items-center">

        <% if book_copy.user.id != current_user.id %>
          <div class=" justify-content-between">
            <%= link_to  new_book_copy_order_path(book_copy),class:"btn btn-success" do   %>
              <div style="font-size: 12px; font-weight:bold;">
                <i class="fa-solid fa-cart-shopping"></i> Request
              </div>
            <% end %>
          </div>
        <% end %>

        <p class="me-0" style="font-weight:bold;"><i class="fa-solid fa-euro-sign"></i><%= book_copy.price %> <%= "/ day" unless book_copy.availability_status == "Sell"  %></p>
      </div>

    </div>

  <% end %>
</div>
