<p>Books that inspired <span class="movie-text">Movies and Tv shows</span></p>
<div class="book-container mb-5 pb-3">
  <% @moviebooks.each do |book| %>

    <div class= "book-container-card">
      <div class="front">
        <%= image_tag book.photo_url, crop: "fill" %>
      </div>
      <div class="back">
        <%= link_to book_path(book) do%>
          <div class="ribbon" style="background-color:<%= book.ribbon(book.category) %>">
            <div class="ribbon-text">
              <h6 style="font-size: <%= book.category.length >= 14 ? "10px !important" : "14px !important"   %>" ><%= book.category %></h6>
            </div>
          </div>
          <div class="card-text">
            <h6>- <%= book.author %></h6>
            <h6 style="font-size: <%= book.title.length >= 14 ? "16px !important" : "24px !important"   %>" ><%= book.title %></h6>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
