<%= render "shared/backBar" %>
<div class="container" style="margin-top: 40px;">

  <%= form_with url: books_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a book"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <p class="pb-0 mb-0">Cannot find your book details below.</p>
  <%= link_to "Please add your book details from here", new_book_path, class: "pb-0"  %>
  <div class="book-container">

    <% if @books != nil %>
      <% @books.each do |book| %>
        <div class= "book-index-container-card">
            <% @database_book = book["volumeInfo"]["industryIdentifiers"] == nil ? "" : Book.where(isbn: book["volumeInfo"]["industryIdentifiers"][0]["identifier"]).take  %>
          <% if (@database_book == "" || @database_book == nil) %>
            <%= link_to new_book_path (book) do %>
              <%= image_tag "https://books.google.com/books/content?id=#{book['id']}&printsec=frontcover&img=1&zoom=1&source=gbs_api", crop: "fill" %>
              <div class="index-text-container">
                <h6><strong><%=  book["volumeInfo"]["title"]%></strong></h6>
                <p><%= book["volumeInfo"]["authors"].nil? ? nil : book["volumeInfo"]["authors"][0] %></p>
                <p><%=book["volumeInfo"]["industryIdentifiers"].nil? ? nil : "ISBN: #{book["volumeInfo"]["industryIdentifiers"][0]["identifier"]}" %></p>
                <p><%= book["volumeInfo"]["categories"].nil? ? nil : "Category: #{book["volumeInfo"]["categories"][0]}" %></p>
              </div>
            <% end%>

            <% else %>

            <%= link_to book_path (@database_book) do %>
              <%= image_tag @database_book.photo_url, crop: "fill" %>
              <div class="container pt-1 mb-0">
                <h6><strong><%=  @database_book.title%></strong></h6>
                <p><%= @database_book.author%></p>
                <p>ISBN:<%=@database_book.isbn%></p>
                <p>Category:<%= @database_book.category%></p>
              </div>
            <% end%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
