<div class="container">

    <div class="book-card">
<div class="book-image">
    <%= image_tag @book.photo_url, crop: "fill" %>
    <%= link_to root_path, class: "float" do %>
        <i class="fa-solid fa-arrow-left my-float"></i>
      <% end %>
      <%= link_to new_book_book_copy_path(@book), class: "book-copy-button" do %>
      <i class="fa fa-plus my-float"></i>
      <% end %>

</div>
            <h3><%= @book.title %></h3>
            <p><%= @book.author %></p>
            <%= link_to "Add a book", new_book_book_copy_path(@book), class: "btn btn-primary" %>
    <hr>
            <p><%= @book.description %></p>
    <hr>
            <p>Isbn:<%= @book.isbn %></p>

            <p>Category:<%= @book.category %></p>
    </div>
    <hr>



        <h5>See available copies of this book</h5>
    <div class="book-copy-card">
      <% @book.book_copies.each do |book_copy| %>
            <div class="book-copies">
        <p> Available for <%= book_copy.availability_status %></p>
        <p>"<%= book_copy.comments.capitalize %>"-<%= book_copy.user.display_name %></p>
        <p>Get in touch with <%= book_copy.user.display_name %></p>
            </div>
              <% end %>
            </div>
    </div>

</div>
