<div class="container">
<%= link_to root_path, class: "home-button" do %>
                <i class="fa-solid fa-arrow-left my-float"></i>
                <% end %>
                <%= link_to new_book_book_copy_path(@book), class: "book-copy-button" do %>
                <i class="fa fa-plus my-float"></i>
                <% end %>
                 <%= link_to new_book_book_copy_path(@book), class: "bookmark-button" do %>
                <i class="far fa-bookmark my-float"></i>
                <% end %>
            <div class="book-card">
              <div class="book-image">
                <%= image_tag @book.photo_url, crop: "fill" %>

              </div>
                    <h3><%= @book.title %></h3>
                    <p><%= @book.author %></p>
                    <hr>

                        <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
                          <p class="content-1" data-read-more-target="content"> <%= @book.description %></p>
                                  <button class="read-more" data-action="read-more#toggle">Read more</button>

                          <template data-read-more-target="full">
                            <p class="content-2"><%= @book.description %></p>
                          </template>

                          <%= link_to "Add a book", new_book_book_copy_path(@book) %>
                        </div>



<h5>Copies of this book</h5>
<div class="book-copy-card">
  <% @book.book_copies.each do |book_copy| %>
    <p><%= book_copy.availability_status %></p>
    <p>What <%= book_copy.user.display_name %> said about this book:"<%= book_copy.comments %>"</p>
    <%= link_to new_book_copy_order_path(book_copy) do %>
      <p>Get in touch with <%= book_copy.user.display_name %></p>
    <% end %>
  <% end %>

</div>
                    <hr>
                    <p>Isbn:<%= @book.isbn %>
                        <%= @book.category %>
                    </p>
            </div>
            <hr>




                <h5>Available copies of this book</h5>
                  <div class="book-copy-card">
                    <% @book.book_copies.each do |book_copy| %>
                      <div class="book-copies">
                        <p> Available for <%= book_copy.availability_status %></p>
                        <p>"<%= book_copy.comments.capitalize %>"-<%= book_copy.user.display_name %></p>
                        <p>Get in touch with <%= book_copy.user.display_name %></p>
                      </div>
                      <% end %>
                    </div>


</div>
