<%= render "shared/backBar" %>
<div class="container">


      <div>
        <%= link_to new_book_book_copy_path(@book), class: "book-copy-button" do %>
        <i class="fa fa-plus my-float me-0"></i>
        <% end %>
      </div>

        <div class="book-image" >
          <%= image_tag @book.photo_url, crop: "fill" %>
        </div>


        <div class="info mt-2">
          <p class="mb-0 mt-0"><%= @book.category %></p>
          <h3><%= @book.title %></h3>

          <div class="d-flex justify-content-center align-content-center">

          <p class="me-2"><%= @book.author %></p>
          <p class="me-2">|</p>
           <span class="rating">
              <%  avgrating = @book.book_reviews.average(:rating) || 0%>
                <% avgrating.to_i.times do |i| %>
                  <i class="fa-solid fa-star" style="color: #fa8334; font-size: 11px;"></i>
                <% end %>
                <% (5-avgrating).to_i.times do |i| %>
                  <i class="fa-regular fa-star" style="color: #b2b1b1; font-size: 11px;"></i>
                <% end %>
                <span ><%= avgrating if avgrating > 0%></span>

                <%= link_to new_book_book_review_path(@book, @bookreview) do %>
     <p class="dashboard-order-status me-2" style="background-color: pink"><strong>Leave a review 😎</strong></p>
     <% end %>

            </div>
            </div>




      <hr style="color: darkgrey;">
      <div class="description"data-controller="read-more" data-read-more-more-text-value="Read more..." data-read-more-less-text-value="Read less">
        <p class="content-1 text-justify" data-read-more-target="content">"<%= @book.description %>"</p>
        <button class="read-more" data-action="read-more#toggle">Read more</button>
        <template data-read-more-target="full">
          <p class="content-2 text-justify">"<%= @book.description %>"</p>

          <div class= " d-flex justify-content-between align-items-start">
        <div class= "align-items-center d-flex flex-column justify-content-center w-25">
          <p class="show-page-icon-description mb-1">publisher</p>
          <i class="fa-regular fa-building show-page-icon"></i>
          <p class="mb-0 text-center"><%= @book.publisher %></p>
        </div>

        <div class= "align-items-center d-flex flex-column justify-content-center w-25">
          <p class="show-page-icon-description mb-1">language</p>
         <i class="fa-solid fa-globe show-page-icon"></i>
          <p class="mb-0"><%= @book.language %></p>
        </div>

        <div class= "align-items-center d-flex flex-column justify-content-center w-25">
          <p class="show-page-icon-description mb-1">pages</p>
         <i class="fa-regular fa-file-lines show-page-icon"></i>
          <p class="mb-0"><%= @book.pages %></p>
        </div>

         <div class= "align-items-center d-flex flex-column justify-content-center w-25">
           <p class="show-page-icon-description mb-1">year</p>
           <i class="fa-regular fa-calendar show-page-icon"></i>
          <p class="mb-0"><%= @book.year %></p>
        </div>

          </div>
        </template>
      </div>
      <hr>

        <% if @book.book_copies.length == 0  %>
            <p>Looks like we don't have any available copies of <em>'<%= @book.title %>'</em> <br>
              Have a copy you would like <%=link_to "like to add?", new_book_book_copy_path(@book) %></p>
        <% else %>
      <h5 style="font-weight: bold;">Available copies of this book</h5>
        <% end %>
          <%= render "books/copy_card", books: @books %>



</div>
