<div class="container">
  <div>
    <%= link_to root_path, class: "home-button" do %>
    <i class="fa-solid fa-arrow-left my-float ms-0"></i>
    <% end %>
  </div>

  <div>
    <%= link_to new_book_book_copy_path(@book), class: "book-copy-button" do %>
    <i class="fa fa-plus my-float me-0"></i>
    <% end %>
  </div>

    <div class="book-image">
      <%= image_tag @book.photo_url, crop: "fill" %>
    </div>
    <div class="info">
      <h3><%= @book.title %></h3>
      <p><%= @book.author %></p>
    </div>
  <hr>
  <div class="description"data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
    <p class="content-1" data-read-more-target="content">"<%= @book.description %>"</p>
    <button class="read-more" data-action="read-more#toggle">Read more</button>
    <template data-read-more-target="full">
      <p class="content-2">"<%= @book.description %>"</p>
    </template>
  </div>


      <p>ISBN:<%= @book.isbn %></p>
      <p class="filter-button"><%= @book.category %></p>

  <div class="book-copy-card">
    <% @book.book_copies.each do |book_copy| %>



  <h5>Available copies of this book</h5>
  <div class="book-copy-card">
    <% @book.book_copies.each do |book_copy| %>
      <div class="book-copies"></div>
        <p> Available for <%= book_copy.availability_status %></p>
        <p>"<%= book_copy.comments.capitalize %>"-<%= book_copy.user.display_name %></p>
        <p>Get in touch with <%= book_copy.user.display_name %></p>
          <% if book_copy.user.id != current_user.id %>
        <%= link_to "Request Book 🚀", new_book_copy_order_path(book_copy)  %>
      <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
