<div class="container">

      <div>
        <%= link_to root_path, class: "home-button" do %>
        <i class="fa-solid fa-arrow-left my-float ms-0"></i>
        <% end %>

      </div>

      <div>
        <%= link_to new_book_book_copy_path(@book), class: "book-copy-button" do %>
        <i class="fa fa-plus my-float me-0"></i>
        <% end %>
      </div>

        <div class="book-image">
          <%= image_tag @book.photo_url, crop: "fill" %>
        </div>
        <div class="info">
          <p><%= @book.category %></p>
          <h3><%= @book.title %></h3>
          <p><%= @book.author %></p>
        </div>
      <hr>
      <div class="description"data-controller="read-more" data-read-more-more-text-value="Read more..." data-read-more-less-text-value="Read less">
        <p class="content-1" data-read-more-target="content">"<%= @book.description %>"</p>
        <button class="read-more" data-action="read-more#toggle">Read more</button>
        <template data-read-more-target="full">
          <p class="content-2">"<%= @book.description %>"</p>
        </template>
      </div>
      <hr>

        <% if @book.book_copies.length == 0  %>
            <p>Looks like we don't have any available copies of <em>'<%= @book.title %>'</em> <br>
              Have a copy you would like <%=link_to "like to add?", new_book_book_copy_path(@book) %></p>
        <% else %>
      <h5>Available copies of this book</h5>
        <% end %>
          <%= render "books/copy_card", books: @books %>

           <%= link_to bookreviews_new_path(@book) do %>
     <p class="dashboard-order-status me-2" style="background-color: pink"><strong>Leave a review 😎</strong></p>
     <% end %>
</div>
