<%= render "shared/backBar" %>
<div class="container " style="margin-bottom: 130px;">

  <div>
    <%= link_to new_book_book_copy_path(@book), class: "btn btn-primary", style: "opacity: 0.9; position: fixed; bottom: 80px; right:20px;" do %>
    <p class="p-0 m-0"><i class="fa-solid fa-circle-plus"></i> Book Copy </p>
    <% end %>
  </div>

  <h3 class="mb-0 mt-6 pt-4 mt-1 text-center"><strong><%= @book.title %></strong></h3>
  <div class="book-image animate__animated animate__slideInLeft animate__slower mt-3" >
    <%= image_tag @book.photo_url, crop: "fill" %>
  </div>

  <div class="info mt-2">
    <p class="mb-1 mt-0" style="font-weight: bold;"><%= @book.category %> | <%= @book.author %></p>

    <div class="d-flex justify-content-center align-items-center">
     <%= render "shared/rating", avgrating: @book.book_reviews.average(:rating) || 0 %>
    </div>

    <div class="mt-2 mb-4">
      <%= link_to new_book_book_review_path(@book, @bookreview), class:"btn btn-info ps-1 pe-1 pt-0 pb-0" do %>
        <p class="btn btn-info p-0 mb-0" style= "font-weight: bold; opacity: 0.7;"><i class="fa-regular fa-pen-to-square"></i> Leave a review</p>
      <% end %>
    </div>
  </div>

      <div class="description"data-controller="read-more" data-read-more-more-text-value="Read more..." data-read-more-less-text-value="Read less">
        <p class="content-1 text-justify" data-read-more-target="content">"<%= @book.description %>"</p>
        <button class=" normal-link" style="border: none; background:none;" data-action="read-more#toggle">Read more</button>
        <template data-read-more-target="full">
          <p class="content-2 text-justify">"<%= @book.description %>"</p>

        <% if @book.isbn !=nil%>
          <div class= " d-flex mb-1">
            <p class="show-page-icon-description mb-1 me-3"><i class="fa-solid fa-barcode"></i> ISBN :</p>
            <p class="mb-0 text-center"><%= @book.isbn %></p>
          </div>
        <% end %>


        <% if @book.publisher !=nil%>
          <div class= " d-flex mb-1">
            <p class="show-page-icon-description mb-1 me-3"><i class="fa-regular fa-building "></i> Publisher :</p>
            <p class="mb-0 text-center"><%= @book.publisher %></p>
          </div>
        <% end %>

      <% if @book.language !=nil%>
        <div class= " d-flex mb-1">
          <p class="show-page-icon-description mb-1 me-3"><i class="fa-solid fa-globe "></i> Language :</p>
          <p class="mb-0 text-center"><%= @book.language %></p>
        </div>
      <% end %>

      <% if @book.pages !=nil%>
        <div class= " d-flex mb-1">
          <p class="show-page-icon-description mb-1 me-3"><i class="fa-regular fa-file-lines "></i> Pages :</p>
          <p class="mb-0 text-center"><%= @book.pages %></p>
        </div>
      <% end %>

      <% if @book.year !=nil%>
        <div class= " d-flex mb-1">
          <p class="show-page-icon-description mb-1 me-3"><i class="fa-regular fa-calendar"></i> Year :</p>
          <p class="mb-0 text-center"><%= @book.year %></p>
        </div>
      <% end %>

        </template>
      </div>
        <hr style="border-top: 1px solid #383232">

        <% if @book.book_copies.length == 0  %>
            <p style="font-weight: bold; font-size: 13px;">Sorry we don't have any copies of this book at the moment.<br>
              If you like to share a copy, add from  <%=link_to new_book_book_copy_path(@book) do %>
              <span class="normal-link" style="text-decoration: underline; font-size: 13px;"><i class="fa-solid fa-hand-point-right"></i> here. </span>
              <% end %>
              </p>
        <% else %>
      <h5 style="font-weight: bold;">Following people have copies of this book</h5>
        <% end %>
          <%= render "books/copy_card", books: @books %>



</div>
